<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>RoboBlueDeath_00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 48}, {68, 90}}</string>
			<key>spriteOffset</key>
			<string>{6, -13}</string>
			<key>spriteSize</key>
			<string>{68, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 222}, {68, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 50}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{4, -14}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 0}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 48}, {76, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{76, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 0}, {76, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 50}, {100, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -14}</string>
			<key>spriteSize</key>
			<string>{100, 88}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 92}, {100, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 48}, {130, 104}}</string>
			<key>spriteOffset</key>
			<string>{4, -20}</string>
			<key>spriteSize</key>
			<string>{130, 104}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 268}, {130, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 42}, {152, 108}}</string>
			<key>spriteOffset</key>
			<string>{2, -16}</string>
			<key>spriteSize</key>
			<string>{152, 108}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 134}, {152, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 43}, {124, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, -19}</string>
			<key>spriteSize</key>
			<string>{124, 112}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 374}, {124, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 20}, {136, 140}}</string>
			<key>spriteOffset</key>
			<string>{6, -10}</string>
			<key>spriteSize</key>
			<string>{136, 140}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 0}, {136, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 32}, {108, 128}}</string>
			<key>spriteOffset</key>
			<string>{5, -16}</string>
			<key>spriteSize</key>
			<string>{108, 128}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 0}, {108, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 14}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 130}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 34}, {130, 118}}</string>
			<key>spriteOffset</key>
			<string>{4, -13}</string>
			<key>spriteSize</key>
			<string>{130, 118}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 244}, {130, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 28}, {154, 132}}</string>
			<key>spriteOffset</key>
			<string>{3, -14}</string>
			<key>spriteSize</key>
			<string>{154, 132}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {154, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 27}, {142, 124}}</string>
			<key>spriteOffset</key>
			<string>{-7, -9}</string>
			<key>spriteSize</key>
			<string>{142, 124}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 142}, {142, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 28}, {114, 118}}</string>
			<key>spriteOffset</key>
			<string>{7, -7}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 278}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 32}, {108, 128}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{108, 128}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 0}, {108, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 36}, {124, 118}}</string>
			<key>spriteOffset</key>
			<string>{4, -15}</string>
			<key>spriteSize</key>
			<string>{124, 118}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 364}, {124, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 55}, {102, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -19}</string>
			<key>spriteSize</key>
			<string>{102, 88}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 278}, {102, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 71}, {92, 72}}</string>
			<key>spriteOffset</key>
			<string>{-6, -27}</string>
			<key>spriteSize</key>
			<string>{92, 72}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 90}, {92, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 86}, {92, 58}}</string>
			<key>spriteOffset</key>
			<string>{-6, -35}</string>
			<key>spriteSize</key>
			<string>{92, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 326}, {92, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 88}, {92, 56}}</string>
			<key>spriteOffset</key>
			<string>{-6, -36}</string>
			<key>spriteSize</key>
			<string>{92, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 600}, {92, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 88}, {92, 56}}</string>
			<key>spriteOffset</key>
			<string>{-6, -36}</string>
			<key>spriteSize</key>
			<string>{92, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 546}, {92, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 81}, {92, 62}}</string>
			<key>spriteOffset</key>
			<string>{-6, -32}</string>
			<key>spriteSize</key>
			<string>{92, 62}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{712, 74}, {92, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 72}, {92, 72}}</string>
			<key>spriteOffset</key>
			<string>{-6, -28}</string>
			<key>spriteSize</key>
			<string>{92, 72}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 0}, {92, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 71}, {94, 72}}</string>
			<key>spriteOffset</key>
			<string>{-7, -27}</string>
			<key>spriteSize</key>
			<string>{94, 72}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 182}, {94, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 72}, {96, 72}}</string>
			<key>spriteOffset</key>
			<string>{-8, -28}</string>
			<key>spriteSize</key>
			<string>{96, 72}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 426}, {96, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 53}, {98, 90}}</string>
			<key>spriteOffset</key>
			<string>{-9, -18}</string>
			<key>spriteSize</key>
			<string>{98, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 130}, {98, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 76}, {100, 68}}</string>
			<key>spriteOffset</key>
			<string>{-9, -30}</string>
			<key>spriteSize</key>
			<string>{100, 68}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 256}, {100, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 78}, {100, 66}}</string>
			<key>spriteOffset</key>
			<string>{-10, -31}</string>
			<key>spriteSize</key>
			<string>{100, 66}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 164}, {100, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 86}, {104, 58}}</string>
			<key>spriteOffset</key>
			<string>{-11, -35}</string>
			<key>spriteSize</key>
			<string>{104, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 0}, {104, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 88}, {106, 56}}</string>
			<key>spriteOffset</key>
			<string>{-12, -36}</string>
			<key>spriteSize</key>
			<string>{106, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 546}, {106, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 88}, {108, 56}}</string>
			<key>spriteOffset</key>
			<string>{-13, -36}</string>
			<key>spriteSize</key>
			<string>{108, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 500}, {108, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 88}, {112, 56}}</string>
			<key>spriteOffset</key>
			<string>{-16, -36}</string>
			<key>spriteSize</key>
			<string>{112, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 484}, {112, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 88}, {114, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, -36}</string>
			<key>spriteSize</key>
			<string>{114, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 426}, {114, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 88}, {116, 56}}</string>
			<key>spriteOffset</key>
			<string>{-18, -36}</string>
			<key>spriteSize</key>
			<string>{116, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 488}, {116, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 88}, {118, 56}}</string>
			<key>spriteOffset</key>
			<string>{-19, -36}</string>
			<key>spriteSize</key>
			<string>{118, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 542}, {118, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 88}, {120, 56}}</string>
			<key>spriteOffset</key>
			<string>{-20, -36}</string>
			<key>spriteSize</key>
			<string>{120, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 484}, {120, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 88}, {120, 56}}</string>
			<key>spriteOffset</key>
			<string>{-20, -36}</string>
			<key>spriteSize</key>
			<string>{120, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 398}, {120, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 88}, {120, 56}}</string>
			<key>spriteOffset</key>
			<string>{-20, -36}</string>
			<key>spriteSize</key>
			<string>{120, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 488}, {120, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboBlueDeath_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 88}, {120, 56}}</string>
			<key>spriteOffset</key>
			<string>{-20, -36}</string>
			<key>spriteSize</key>
			<string>{120, 56}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 368}, {120, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>blueDeath</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>blueDeath_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>blueDeath_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>