<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>RoboBlue_00000.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00001.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00003.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00004.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00005.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00006.png</key>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00007.png</key>
		<dict>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00008.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00009.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00010.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00011.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00012.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00013.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00014.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00015.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00016.png</key>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00017.png</key>
		<dict>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00018.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00019.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00020.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00021.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00022.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00023.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00024.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00025.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00026.png</key>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00027.png</key>
		<dict>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00028.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00029.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00030.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00031.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboBlue_00032.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>