<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>RoboRedDeath_00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 48}, {68, 90}}</string>
			<key>spriteOffset</key>
			<string>{9, -13}</string>
			<key>spriteSize</key>
			<string>{68, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 224}, {68, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 49}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -14}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 92}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 48}, {76, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, -13}</string>
			<key>spriteSize</key>
			<string>{76, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 0}, {76, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 49}, {100, 88}}</string>
			<key>spriteOffset</key>
			<string>{3, -13}</string>
			<key>spriteSize</key>
			<string>{100, 88}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 432}, {100, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 48}, {130, 104}}</string>
			<key>spriteOffset</key>
			<string>{7, -20}</string>
			<key>spriteSize</key>
			<string>{130, 104}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 270}, {130, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 42}, {152, 108}}</string>
			<key>spriteOffset</key>
			<string>{4, -16}</string>
			<key>spriteSize</key>
			<string>{152, 108}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 134}, {152, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 43}, {124, 112}}</string>
			<key>spriteOffset</key>
			<string>{6, -19}</string>
			<key>spriteSize</key>
			<string>{124, 112}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 376}, {124, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {136, 140}}</string>
			<key>spriteOffset</key>
			<string>{9, -10}</string>
			<key>spriteSize</key>
			<string>{136, 140}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 0}, {136, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 32}, {108, 128}}</string>
			<key>spriteOffset</key>
			<string>{8, -16}</string>
			<key>spriteSize</key>
			<string>{108, 128}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 0}, {108, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{6, -7}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 132}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 33}, {130, 118}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{130, 118}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 244}, {130, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 28}, {152, 132}}</string>
			<key>spriteOffset</key>
			<string>{4, -14}</string>
			<key>spriteSize</key>
			<string>{152, 132}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {152, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 26}, {142, 126}}</string>
			<key>spriteOffset</key>
			<string>{-4, -9}</string>
			<key>spriteSize</key>
			<string>{142, 126}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 142}, {142, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 28}, {116, 118}}</string>
			<key>spriteOffset</key>
			<string>{10, -7}</string>
			<key>spriteSize</key>
			<string>{116, 118}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 280}, {116, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 30}, {108, 130}}</string>
			<key>spriteOffset</key>
			<string>{4, -15}</string>
			<key>spriteSize</key>
			<string>{108, 130}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 0}, {108, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 36}, {124, 118}}</string>
			<key>spriteOffset</key>
			<string>{7, -15}</string>
			<key>spriteSize</key>
			<string>{124, 118}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 364}, {124, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 55}, {102, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -20}</string>
			<key>spriteSize</key>
			<string>{102, 90}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 280}, {102, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 71}, {94, 74}}</string>
			<key>spriteOffset</key>
			<string>{-3, -28}</string>
			<key>spriteSize</key>
			<string>{94, 74}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 76}, {94, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 85}, {94, 60}}</string>
			<key>spriteOffset</key>
			<string>{-3, -35}</string>
			<key>spriteSize</key>
			<string>{94, 60}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 66}, {94, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 87}, {94, 58}}</string>
			<key>spriteOffset</key>
			<string>{-3, -36}</string>
			<key>spriteSize</key>
			<string>{94, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 492}, {94, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 87}, {94, 58}}</string>
			<key>spriteOffset</key>
			<string>{-3, -36}</string>
			<key>spriteSize</key>
			<string>{94, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 550}, {94, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 81}, {94, 64}}</string>
			<key>spriteOffset</key>
			<string>{-3, -33}</string>
			<key>spriteSize</key>
			<string>{94, 64}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 0}, {94, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 72}, {94, 72}}</string>
			<key>spriteOffset</key>
			<string>{-3, -28}</string>
			<key>spriteSize</key>
			<string>{94, 72}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 226}, {94, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 70}, {94, 74}}</string>
			<key>spriteOffset</key>
			<string>{-4, -27}</string>
			<key>spriteSize</key>
			<string>{94, 74}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 0}, {94, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 72}, {96, 72}}</string>
			<key>spriteOffset</key>
			<string>{-5, -28}</string>
			<key>spriteSize</key>
			<string>{96, 72}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 152}, {96, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 53}, {98, 92}}</string>
			<key>spriteOffset</key>
			<string>{-6, -19}</string>
			<key>spriteSize</key>
			<string>{98, 92}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 130}, {98, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 75}, {100, 70}}</string>
			<key>spriteOffset</key>
			<string>{-6, -30}</string>
			<key>spriteSize</key>
			<string>{100, 70}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 300}, {100, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 77}, {100, 68}}</string>
			<key>spriteOffset</key>
			<string>{-7, -31}</string>
			<key>spriteSize</key>
			<string>{100, 68}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 226}, {100, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 86}, {104, 58}}</string>
			<key>spriteOffset</key>
			<string>{-8, -35}</string>
			<key>spriteSize</key>
			<string>{104, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 372}, {104, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 87}, {106, 58}}</string>
			<key>spriteOffset</key>
			<string>{-9, -36}</string>
			<key>spriteSize</key>
			<string>{106, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{782, 60}, {106, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 87}, {108, 58}}</string>
			<key>spriteOffset</key>
			<string>{-10, -36}</string>
			<key>spriteSize</key>
			<string>{108, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{782, 0}, {108, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 87}, {112, 58}}</string>
			<key>spriteOffset</key>
			<string>{-13, -36}</string>
			<key>spriteSize</key>
			<string>{112, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 128}, {112, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 87}, {114, 58}}</string>
			<key>spriteOffset</key>
			<string>{-14, -36}</string>
			<key>spriteSize</key>
			<string>{114, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 432}, {114, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 87}, {116, 58}}</string>
			<key>spriteOffset</key>
			<string>{-15, -36}</string>
			<key>spriteSize</key>
			<string>{116, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 490}, {116, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 87}, {120, 58}}</string>
			<key>spriteOffset</key>
			<string>{-16, -36}</string>
			<key>spriteSize</key>
			<string>{120, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 544}, {120, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 87}, {122, 58}}</string>
			<key>spriteOffset</key>
			<string>{-17, -36}</string>
			<key>spriteSize</key>
			<string>{122, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 490}, {122, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 87}, {124, 58}}</string>
			<key>spriteOffset</key>
			<string>{-18, -36}</string>
			<key>spriteSize</key>
			<string>{124, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 484}, {124, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 87}, {124, 58}}</string>
			<key>spriteOffset</key>
			<string>{-18, -36}</string>
			<key>spriteSize</key>
			<string>{124, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 400}, {124, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RoboRedDeath_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 87}, {124, 58}}</string>
			<key>spriteOffset</key>
			<string>{-18, -36}</string>
			<key>spriteSize</key>
			<string>{124, 58}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 372}, {124, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>redDeath</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>redDeath</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>redDeath</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>