<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>RoboRed_00000_1.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00001_1.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00002_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00003_1.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00004_1.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00005_1.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00006_1.png</key>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00007_1.png</key>
		<dict>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00008_1.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00009_1.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00010_1.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00011_1.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00012_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00013_1.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00014_1.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00015_1.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00016_1.png</key>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00017_1.png</key>
		<dict>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00018_1.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00019_1.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00020_1.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00021_1.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00022_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00023_1.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00024_1.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00025_1.png</key>
		<dict>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00026_1.png</key>
		<dict>
			<key>x</key>
			<integer>607</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00027_1.png</key>
		<dict>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00028_1.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00029_1.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00030_1.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00031_1.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>RoboRed_00032_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>